body {
    font-family: 'Segoe UI', sans-serif;

    background-image: url("../image//bg.png");
    background-size: cover;        
    background-position: center;   

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    width: 450px;
    height: 650px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    background: #2c3e50;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bubble {
    max-width: 85%;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 0.95rem;
    line-height: 1.5;
}

.message.user { align-self: flex-end; }
.user .bubble { background: #2c3e50; color: white; border-bottom-right-radius: 2px; }

.message.bot { align-self: flex-start; }
.bot .bubble { background: #ffffff; color: #333; border: 1px solid #ddd; border-bottom-left-radius: 2px; }

.input-area {
    display: flex;
    padding: 15px;
    background: white;
    border-top: 1px solid #eee;
}

#user-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

#send-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.ride-ticket {
    margin-top: 10px;
    border: 2px dashed #2c3e50;
    border-radius: 10px;
    background: #fff;
    animation: slideUp 0.4s ease-out;
}

.t-header {
    background: #2c3e50;
    color: #fff;
    padding: 8px 12px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.t-body {
    padding: 12px;
    font-size: 0.85rem;
}

.t-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
}

.t-price {
    text-align: right;
    font-weight: bold;
    color: green;
    font-size: 1.1rem;
    margin-top: 5px;
}