<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RailBot Classic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="header">
            <span>RailBot</span>
            <div style="float: right">
                <form id="clear-form" action="{{ url_for('clear_chat') }}" method="POST">
                    <button type="submit" class="clear-btn">Clear Chat</button>
                </form>
            </div>
        </div>

        <div class="chat-window" id="chat-box">
            <div class="message bot">
                <div class="bubble">Hello!!!!!!!! I am RailBot. Let me assist you to book train tickets. Where would you
                    like to go?</div>
            </div>
            {% for chat in chats %}
            <div class="message user">
                <div class="bubble">{{ chat.user }}</div>
            </div>
            <div class="message bot">
                <div class="bubble" data-raw-content="{{ chat.bot }}">{{ chat.bot|safe }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="input-area">
            <input type="text" id="user-input" placeholder="Type your message..." required autocomplete="off" autofocus>
            <button id="send-btn">Send</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

</body>

</html>